<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="data source=;initial catalog=Multiverso;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="isHomologacao" value="true" />
		<add key="PagSeguroWSEmail" value="financeiro@predify.me" />
		<!-- <add key="PagSeguroWSUrl" value="https://ws.sandbox.pagseguro.uol.com.br"/> -->
		<!-- <add key="PagSeguroWSToken" value="A7FBE97F97B24B109D9E4C9FCDA30357"/> -->
		<!-- <add key="PagSeguroVendedor" value="v48215873815837369006@sandbox.pagseguro.com.br"/> -->
		<add key="PagSeguroBasicoCodigo" value="9A65AFA56969EE7994206F9692C2DED1" />
		<add key="PagSeguroBasicoReferencia" value="REFPREMIUM2018" />
		<add key="PagSeguroBasicoPlanoItem" value="36" />
		<add key="PagSeguroVisaCodigo" value="17A48F06A8A8C79EE4CD7F8845795B62" />
		<add key="PagSeguroVisaReferencia" value="REFVISA2018" />
		<add key="PagSeguroVisaPlanoItem" value="45" />
		<add key="PagSeguroVisaCupom" value="168" />
		<add key="PagSeguroWSURL" value="https://ws.pagseguro.uol.com.br" />
		<add key="PagSeguroWSToken" value="5BA7FD8DB277462DB2AF9BFE95DA97F9" />
		<add key="PagSeguroVendedor" value="contato@predify.me" />
		<add key="idEmpresaBase" value="688" />
		<add key="DEBUG_Caminho_PredifyTasks" value="D:\Softwares\Predify\Predify_Back\Predify.Server.Tasks\PredifyTasks\bin\Debug\PredifyTasks.exe" />
		<add key="Caminho_PredifyTasks" value="D:\Softwares\Predify\Predify_Back\Predify.Server.Tasks\PredifyTasks\bin\Debug\PredifyTasks.exe" />
		<!--Configuração envio de E-mail-->
		<add key="fromEmail" value="noreply@predify.me" />
		<add key="fromEmailPassword" value="Luc60825" />
		<add key="emailSMTPServer" value="smtp.office365.com" />
		<add key="emailSMTPPort" value="587" />
		<add key="emailServerEnableSSL" value="true" />
		<!--Configuração de Microserviços-->
		<add key="dataScienceAPI_URl" value="http://172.31.33.238/" />
		<add key="searchAPI_URL" value="http://172.31.33.238:81/" />
		<add key="abcCurveUrl" value="http://172.31.33.238/abc-curve" />
		<add key="predimonitorAPI_URL" value="https://localhost:7176/"/>
		<!-- Configuração Spark -->
		<add key="sparkMasterIP" value="10.240.0.23" />
		<add key="sparkMasterPort" value="6066" />
		<add key="sparkIP" value="169.61.246.200" />
		<add key="sparkPort" value="6066" />
		<add key="sparkFilePath" value="/python/" />
		<!-- Configuração Scylla -->
		<add key="scyllaIP" value="169.61.225.3" />
		<add key="scyllaPort" value="9042" />
		<add key="scyllaKeyspace" value="predify_prod" />
		<add key="scyllaUser" value="" />
		<add key="scyllaPass" value="" />
		<add key="isProd" value="true" />
		<add key="movidaKeyspace" value="predify_rent" />
		<!-- Configuração Bradesco -->
		<add key="url_bradesco" value="https://proxy.api.prebanco.com.br/" />
		<add key="bradesco_id" value="9b0a5389-3dd6-4304-84e5-8d81a69e66c9" />
		<add key="bradesco_secret" value="2e9fa7ca-04c5-4e24-8b20-d4d7c654aca6" />
		<add key="bradesco_certificate_path" value="D:\Certificados\client_certificate.p12" />

		<add key="sebraeSecret" value="34f9d9f7.1216b0b239699c8935cfd73b71b792dec408b75601dddddee4772f31252d4f36" />
		<add key="sebraeWebhookToken" value="tr6crl1tub3barowrayEclkespov5biTHecradice7refro29r" />
		<add key="url_datainsght" value="http://127.0.0.1:8002/" />

		<add key="aws_ibm_user" value="" />
		<add key="aws_ibm_key" value="" />

		<add key="elasticSearchIP" value="" />

		<add key="environment" value="desenvolvimento" />

		<!-- Configuração do S3 da Petrobahia -->
		<add key="petrobahia_s3_user" value="" />
		<add key="petrobahia_s3_key" value="" />
		<add key="petrobahia_s3_bucket" value="" />

		<add key="pathMonitoringTagFile" value="C:\TempImportacaoTags" />
		<add key="monitoringTagFileBucketS3" value="" />
		<add key="predify_s3_user" value="" />
		<add key="predify_s3_secret" value="" />

		<!-- Mongo -->
		<add key="Mongo_ConnectionString" value="mongodb://user:senha@ip:port/" />

		<!-- Mongo Databases -->
		<add key="Mongo_Normalizer_Database" value="normalizer" />
		<add key="Mongo_Horus_Database" value="horus" />
		<add key="Mongo_Nielsen_Database" value="nielsen" />
		<add key="Mongo_Offline_Database" value="offline" />
		<add key="Mongo_Neogrid_Database" value="neogrid" />
		<add key="Mongo_Future_Elasticity_Database" value="future_elasticity" />
		<add key="Mongo_Info_Price_Database" value="info_price" />
		<add key="Mongo_LinxFarma_Database" value="linx" />

		<!-- Mongo Collections -->
		<add key="Mongo_ProductPrices_Collection" value="product_prices" />
		<add key="Mongo_Horus_Product_Collection" value="products" />
		<add key="Mongo_Nielsen_BaseVem_Collection" value="base_vem" />
		<add key="Mongo_Nielsen_BasePeralta_Collection" value="base_peralta" />
		<add key="Mongo_Offline_MercantilNovaEra_Collection" value="MercantilNovaEra" />
		<add key="Mongo_Neogrid_Ecoa_Collection" value="ecoa_database_final" />
		<add key="Mongo_Smarket_Competitor_Database" value="smarket_competitor" />
		<add key="Mongo_Future_Elasticity_Status_Collection" value="future_elasticity_status" />
		<add key="Mongo_Future_Elasticity_Data_Collection" value="future_elasticity_data" />
		<add key="Mongo_FarmaciaSaoJoao_Collection" value="FarmaciaSaoJoao" />
		<add key="Mongo_LinxFarma_Collection" value="fact_ticket" />

		<!-- ACELEN -->
		<add key="Mongo_Acelen_Database" value="db" />
		<add key="Mongo_Acelen_Collection" value="acelen" />
		<add key="Mongo_Acelen_Simulation_Database" value="db" />
		<add key="Mongo_Acelen_Simulation_Collection" value="acelen_simulation" />

		<!-- Configuração KeyVault -->
		<add key="KeyVaultClientId" value="" />
		<add key="KeyVaultClientSecret" value="" />
		<add key="KeyVaultTenantId" value="" />
		<add key="KeyVaultVaultName" value="kvcrawler-pre-prod" />
		<!-- Configuração CrawlerManagerAPI -->
		<add key="CrawlerManagerAPIHost" value="" />

		<add key="user_CS" value="" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5.2" debug="true" />
    <!-- maxRequestLength for asp.net, in KB (100MB x 1024 = 15360)  -->
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" />
    <!--<machineKey validationKey="BDE5239FBD71982481D87D815FA0A65B9F5982D99DFA96E6D92B782E0952D58818B479B19FF6D95263E85B0209297E6858B57D1E0BD3EFECE5E35742D605F2A7" decryptionKey="8E8496D7342EA258526CF6177E04EA7D208E359C95E60CD2A462FC062B9E41B3" validation="SHA1" decryption="AES"/>-->
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength, for IIS, in bytes (100MB x 1024 x 1024 = 15728640) -->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
    <httpProtocol>
      <customHeaders>
        <remove name="Access-Control-Allow-Origin" />
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, DELETE" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension="." mimeType="application/text" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sigil" publicKeyToken="2d06c3494341c8ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.1.0" newVersion="4.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
      <!--provider invariantName="Sap.Data.SQLAnywhere" type="Sap.Data.SQLAnywhere.SAProviderServices, Sap.Data.SQLAnywhere.EF6, Version=17.0.7.33994, Culture=neutral, PublicKeyToken=f222fc4333e0d400" /-->
      <!--provider invariantName="Sap.Data.Hana" type="Sap.Data.Hana.HanaProviderServices, Sap.Data.Hana.v4.5, Version=2.3.119.0, Culture=neutral, PublicKeyToken=0326b8ea63db4bc4" /-->
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" support="FF" />
      <!--remove invariant="Sap.Data.SQLAnywhere" />
      <add name="SQL Anywhere 17 Data Provider" invariant="Sap.Data.SQLAnywhere" description=".NET Framework Data Provider for SQL Anywhere 17" type="Sap.Data.SQLAnywhere.SAFactory, Sap.Data.SQLAnywhere.EF6, Version=17.0.7.33994, Culture=neutral, PublicKeyToken=f222fc4333e0d400"/-->
      <!--remove invariant="Sap.Data.Hana" />
      <add name="SAP Hana Data Provider" invariant="Sap.Data.Hana" description=".NET Framework Data Provider for SAP Hana" type="Sap.Data.Hana.HanaProviderServices, Sap.Data.Hana.v4.5, Version=2.3.119.0, Culture=neutral, PublicKeyToken=0326b8ea63db4bc4" /-->
    </DbProviderFactories>
  </system.data>
</configuration>